/htmllexer-2.1.jar
/htmlparser-2.1.jar
/htmlparser-2.1-javadoc.jar
/htmlparser-2.1-sources.jar
/jVinci-2.4.0.jar
/sax-2.0.1.jar
/uimaj-adapter-vinci-2.4.0.jar
/uimaj-core-2.4.0.jar
/uimaj-cpe-2.4.0.jar
/uimaj-document-annotation-2.4.0.jar
/uimaj-document-annotation-2.4.0-sources.jar
/uimaj-tools-2.4.0.jar
/uimaj-tools-2.4.0-sources.jar
